.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    position: relative;
    margin: auto;
}

@media (max-width: 576px) and (orientation: portrait) {
    .container {
        height: 100dvh;
        padding: 20px 15px;
    }
}