.floatingContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
	height: 100dvh;
	width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  z-index: 1;
  cursor: unset;
  overflow: hidden;
}

.floatingContainer.in.visible {
  opacity: 1;
  visibility: visible;
}

.backdrop {
  position: fixed;
	height: 100%;
	width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
  background-color: #333333;
  opacity: 0;
  visibility: hidden;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: unset;
}

.backdrop.in.visible {
  opacity: 0.8;
  visibility: visible;
}

.drawer {
	background-color: #ffff;
	transform: translateY(100%);
	width: 100%;
	min-height: 33%;
  max-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.drawer.in.visible {
	transform: translateY(0%);
}

.drawerContent {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 100%;
  height: 100%;
  padding: 15px;
  gap: 10px;
}

@media (max-width: 576px) {
  .drawerContent {
      padding: 20px 15px;
  }
}