.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container:not(:last-child) {
    margin-bottom: 10px;
}

.label {
    font-size: 12px;
    margin-bottom: 3px;
}

.input {
    outline: none;
    border-style: none;
    border-radius: 5px;
    border: 2px solid gray;
    transition: border-color 0.5s ease-in-out;
    width: 100%;
    padding: 10px 5px;
}

.input:read-only {
    opacity: 0.5;
    user-select: none;
    filter: contrast(0.8);
    pointer-events:none
}

.input:required:invalid {
    border-color: rgb(238, 126, 126);
}