.form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subTitle {
    align-self: flex-start;
}

@media (max-width: 576px) {
    .form {
        height: 100%;
    }
}