.grid {
	width: 100%;
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 10px;
}

.grid:not(:last-child) {
	margin-bottom: 10px;
}

@media (max-height: 600px) {
	.grid {
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	}
}

@media (max-height: 450px) {
	.grid {
			grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	}
}